# Project exclude paths
/01-ThirdLayerApplication/target/
/02-MyBatis-00-JDBC/target/
/02-MyBatis-01-Start/target/
/02-MyBatis-02-More-Mapper/target/
/02-MyBatis-03-Character/target/
/02-MyBatis-04-Placeholder/target/
/02-MyBatis-05-Properties/target/
/02-MyBatis-06-Alias/target/
/02-MyBatis-07-Log4j2/target/
/02-MyBatis-08-Binding/target/
/02-MyBatis-09-CRUD/target/
/02-MyBatis-10-Util/target/
/02-MyBatis-11-ORM/target/
/02-MyBatis-12-More-Table/target/
/02-MyBatis-13-Dynamic-SQL/target/
/02-MyBatis-14-Cache/target/
/02-MyBatis-15-PageHelper/target/
/02-MyBatis-16-Druid/target/
/02-MyBatis-17-Annotation/target/
/02-MyBatis-18-Lazy/target/
/02-MyBatis-19-Generator/target/
/03-Spring-00-ThreeLayerApplication/target/
/03-Spring-01-Start/target/
/03-Spring-02-Bean-Name/target/
/03-Spring-03-CreateBean/target/
/03-Spring-04-Scope/target/
/03-Spring-05-Lifecycle/target/
/03-Spring-06-Lazy/target/
/03-Spring-07-DI-01-Constructor/target/
/03-Spring-07-DI-02-Set/target/
/03-Spring-07-DI-03-ComplexType/target/
/03-Spring-07-DI-04-ThirdLayerApplication/target/
/03-Spring-07-DI-05-Annotation/target/
/03-Spring-08-JDBC-01-XML/target/
/03-Spring-08-JDBC-02-Annotation/target/
/03-Spring-09-Aop-00-Start/target/
/03-Spring-09-Aop-01-XML/target/
/03-Spring-09-Aop-02-Annotation/target/
/03-Spring-10-Transaction-01-Programming/target/
/03-Spring-10-Transaction-02-XML/target/
/03-Spring-10-Transaction-03-Annotation/target/
/03-Spring-10-Transaction-04-Propagate/target/
/03-Spring-11-Test/target/
/04-DesignPattern-01-Proxy/target/
/05-SpringMVC-01-Start/target/
/05-SpringMVC-02-RequestMapping/target/
/05-SpringMVC-03-RequestParamBind/target/
/05-SpringMVC-04-Encoding/target/
/05-SpringMVC-05-DateConverter/target/
/05-SpringMVC-06-ViewResolver/target/
/05-SpringMVC-07-ResponseDate/target/
/05-SpringMVC-08-Annotation/target/
/05-SpringMVC-09-Ajax/target/
/05-SpringMVC-10-FileUpload/target/
/05-SpringMVC-11-FileDownload/target/
/05-SpringMVC-12-Exception/target/
/05-SpringMVC-13-ControllerAdvice/target/
/05-SpringMVC-14-Interceptor/target/
/05-SpringMVC-15-Jersey/target/
/05-SpringMVC-16-CrossOrigin/target/
/06-SSM-01-Wyy/target/
/06-SSM-02-Poverty-Alleviation/target/
/07-JWT-00-Session-Cookie/target/
/07-JWT-01-Start/target/
/07-JWT-02-Web/target/
/07-JWT-03-Interceptor/target/
/07-JWT-04-CustomJwt/target/
/08-SpringBoot-00-Starter/target/
/08-SpringBoot-01-Starter/target/
/08-SpringBoot-02-Config-File/target/
/08-SpringBoot-03-Profile/target/
/08-SpringBoot-04-Annotation/target/
/08-SpringBoot-05-Conditional/target/
/08-SpringBoot-06-StaticResources/target/
/08-SpringBoot-07-JSP/target/
/08-SpringBoot-08-JdbcTemplate/target/
/08-SpringBoot-09-MyBatis/target/
/08-SpringBoot-10-RESTful/target/
/08-SpringBoot-11-Exception/target/
/08-SpringBoot-12-Filter/target/
/08-SpringBoot-13-Interceptor/target/
/08-SpringBoot-14-FileUpload/target/
/08-SpringBoot-15-CrossOrigin/target/
/08-SpringBoot-16-i18n/target/
/08-SpringBoot-17-Junit4/target/
/08-SpringBoot-18-Junit5/target/
/08-SpringBoot-19-Mail/target/
/08-SpringBoot-20-Devtools/target/
/08-SpringBoot-21-Jasypt/target/
/08-SpringBoot-22-Source-Code/target/
/09-SpringBoot-01-Cloud-Diary/target/
/10-Swagger-01-SpringBoot/target/
/10-Swagger-02-Group/target/
/10-Swagger-03-Swagger3/target/
